@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Do+Hyeon&family=Josefin+Sans&family=Kanit:wght@300;800&family=Lobster&family=Luckiest+Guy&family=Mate+SC&family=Outfit:wght@300&family=Pacifico&family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300&family=Secular+One&family=Yeseva+One&display=swap');

.blogs {
    font-family: 'Mate SC', serif;
    font-size: 20px;
    letter-spacing: 3px;
}